body{
    background-color: rgb(89, 219, 245);
    color:white;
font-family:'ArialRounded', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
.Links{
    display: flex;
    gap:35px;
    justify-content: space-between;
    font-size: x-large;
}
a,li{
list-style: none;
    color:white;
font-weight: bolder;
font-size: x-large;
}

.Nav-bar{
    display: flex;
    border: 2px solid white;
    justify-content: space-evenly;
    margin-top: 0;
    font-size: x-large;
}

.logo{
    font:larger;
    margin: 15px;
}
body{
    min-height: 100vh;;
display: flex;
flex-direction: column;
  justify-content: center;
  align-self: center;

}

.container{ 
height:440px;
width:340px;
margin: auto;
display: flex;
flex-direction: column;
background-color: #d3d3d3;
border: 5px solid grey;
border-radius: 10%;
padding: 10px;
padding-top: 20px;
}

.DisplayBar{
background-color: #fdfdec;
height:60px;
border-radius: 10%;
  flex-shrink: 0;
}

.Section1,.Section2,.Section3,.Section4,.Section5{
padding-top: 10px;
    display: flex;
flex-direction: row;
width: 100%;
justify-content: space-around;
}

button{
    padding: 20px;
    border-radius: 5px;
    font-size: 25px;
    width:75px;
    height:65px;
}
.Section5{
    justify-content: left;
    gap:10px;
    padding-left: 5px;
}
img{
    height: 17px;
}
.symbol{
    background-color: rgb(123, 168, 140);
}
.clear, img{
    color:red;
}
.DisplayBar{
    font-size: 300%;
}
.Section1 button{
    background-color: #ff9393;
}
.Section2 button{
    background-color: #fbf186;
}
.Section3 button{
    background-color: #a6f0a6;
}.Section4 button{
    background-color: #a88bea;
}.Section5 button{
    background-color: #ed8df3;
}